@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}

#wrap {
    width: 1000px;
    margin: 0 auto;
}

header {
    clear: both;
    text-align: center;
    font-size: 72px ;
    color: darkblue;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
logo {
	padding: 10px;
    width:100%;
}
nav {
    padding: 10px;
    text-align: center;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li {
    display: inline;
    margin: 0 30px;
}

nav a {
    color: #133450;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Permanent Marker', cursive;
}

nav a:hover {
    color: lightblue;
}

section {
    overflow: auto;
    margin: 0;
}

section h1 {
    color: lightgray;
    font-size: 72px;
    font-family: georgia, serif;
    margin: 5px;
}

section h2 {
    color: #8cf0ef;
    font-size: 25px;
    font-family: georgia, serif;
    overflow: auto;
}

footer {
    background-color: transparent;
    padding: 10px;
    color: white;
    text-align: center;
    clear: both;
}

footer a {
    color: #8CF0EF;
}

figure {
    width: 30%;
    border: 1px solid white;
    margin: 10px;
    text-align: center;
    padding: 3px;
    background-color: rgba(0, 0, 0, .8);
    float: left;
    overflow: auto;
}

figure img {
    width: 100%;
    text-align: center;
    overflow: auto;

}

figcaption {
    color: white;
    font-family: Ariel, sans-serif;
    font-size: 90%;


}
