html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: grey;
    font-family: ariel;

}

#wrap { 
    width: 100%;
    margin: 0 auto;
    background-color: white;
}

header {
    background: grey;
    text-align: center;

}

header img {
    width: 100%;

}

nav {
    background-color: grey;
    text-align: center;
    padding: 10px 0;
    font-family: Verdana;
}

nav a {
    color: white;
    padding: 10px 30px;
    text-decoration: none;
}

nav a:hover {
    color: lightgoldenrodyellow;
    background-color: skyblue;
}



nav li {
    display: inline;
}

nav ul {
    margin: 0;
    padding: 0;
}

section {
    padding: 20px;
    overflow: auto;
    font-family: verdana;
    margin: 0;
    display:center;
    background-color: whitesmoke;
    
   
}

section h1 {
    color: skyblue;
    size: 170%;
    margin: 0;
     font-family: cursive;
    
}
section h2 {
    color:grey
        font-family: cursive;
    margin: 0;
}
.logo {    width: 20%;
    float: right;
    float: bottom;
}
.picture {
    width:10%
      
        float: left;
    .pic {
        float:center;
        padding: 8px;
    }
    .photo {
        float:right;
        padding:8px;
    }
    .monkey {
        float:right;
        padding:8px;
    }
}
footer {
    background-color: skyblue;
    text-decoration-color: white;
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
}

.button {
    background-color: skyblue;
    color: white;
    text-decoration: none;
    margin: 15px 0px;
    padding: 10px;
    display: inline-block;
    border-radius: 8px;
    font-family: verdana;

}

a.button hover {
    background-color: red;
}
